In [1]:
import numpy as np
np.random.seed(89)
np.set_printoptions(precision=4, suppress=True)

In [2]:
data = [np.random.standard_normal() for i in range(13)]
data

[-1.6937300265470978,
 -0.0021213329564762845,
 -0.4258918402213212,
 -0.2555904642577206,
 -0.3057788355590846,
 0.040549684034986946,
 -0.0683544278352781,
 -1.2022241004408616,
 -0.18253336897878986,
 -0.8795760690874841,
 -0.2432477723209184,
 0.6740307397120452,
 0.3449463205997444]

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

[1, 2, 3]

In [5]:
a.append(4)
b

[1, 2, 3, 4]

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 4]

In [8]:
a = 5
type(a)

int

In [9]:
a = "foo"
type(a)

str

In [10]:
"5" + 5

TypeError: can only concatenate str (not "int") to str

In [11]:
a = 4.5
b = 2
print(f"a is {type(a)}, b is {type(b)}")
a / b

a is <class 'float'>, b is <class 'int'>

2.25

In [12]:
a = 5
isinstance(a, int)

True

In [13]:
a = 5; b = 4.5
isinstance(a, (int, float)), isinstance(b, (int, float))

(True, True)

In [14]:
a = "foo"

In [15]:
getattr(a, "split")

In [16]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [17]:
isiterable("a string")

True

In [18]:
isiterable([1, 2, 3])

True

In [19]:
isiterable(5)

False

In [20]:
5 - 7

-2

In [21]:
12 + 21.5

33.5

In [22]:
5 <= 2

False

In [23]:
a = [1, 2, 3]
b = a
a is b

True

In [24]:
c = list(a)
a is not c

True

In [25]:
a == c

True

In [26]:
a = None
a is None

True

In [27]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [28]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [29]:
ival = 89
ival ** 5

5584059449

In [30]:
fval = 7.243

In [31]:
fval2 = 6.78e-5
fval2

6.78e-05

In [32]:
3 / 2

1.5

In [33]:
3 // 2

1

In [34]:
c = """
This is a longer string that
spans multiple lines
hello world
"""

In [35]:
c.count("\n")

4

In [36]:
a = "this is a string"
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [37]:
b = a.replace("string", "longer string")
b

'this is a longer string'

In [38]:
a

'this is a string'

In [39]:
a = 5.6
s = str(a)
print(s)

5.6

In [40]:
s = "python"
list(s)
s[:3]

'pyt'

In [41]:
s = "12\\34"
print(s)

12\34

In [42]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

In [43]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [44]:
template = "{0:.2f} {1:s} are worth US${2:d}"

In [45]:
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [46]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"

In [47]:
f"{amount} {currency} is worth US${amount / rate:.2f}"

'10 Pesos is worth US$0.11'

In [48]:
val = "español"
val

'español'

In [49]:
val_utf8 = val.encode("utf-8")
val_utf8, type(val_utf8)

(b'espa\xc3\xb1ol', bytes)

In [50]:
val_utf8.decode("utf-8")

'español'

In [51]:
val.encode("latin1")

b'espa\xf1ol'

In [52]:
val.encode("utf-16")

b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [53]:
val.encode("utf-16le")

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

In [54]:
True and True, False or True

(True, True)

In [55]:
int(False),int(True)

(0, 1)

In [56]:
a = True
b = False
not a, not b

(False, True)

In [57]:
s = "3.14159"
fval = float(s)
type(fval), int(fval), bool(fval), bool(0)

(float, 3, True, False)

In [58]:
a = None
a is None

True

In [59]:
b = 5
b is not None

True

In [60]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
dt.day, dt.minute

(29, 30)

In [61]:
dt.date(), dt.time()

(datetime.date(2011, 10, 29), datetime.time(20, 30, 21))

In [62]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [63]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [64]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [65]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [66]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta, type(delta)

(datetime.timedelta(days=17, seconds=7179), datetime.timedelta)

In [67]:
dt, dt + delta  # ~ dt2

(datetime.datetime(2011, 10, 29, 20, 30, 21),
 datetime.datetime(2011, 11, 15, 22, 30))

In [68]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [69]:
4 > 3 > 2 > 1

True

In [70]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [71]:
range(10), list(range(10))

(range(0, 10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [72]:
list(range(0, 20, 2)), list(range(5, 0, -1))

([0, 2, 4, 6, 8, 10, 12, 14, 16, 18], [5, 4, 3, 2, 1])

In [73]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [74]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

2333316668