In [109]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [110]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [111]:
tuple([4, 0, 2])

(4, 0, 2)

In [112]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [113]:
tup[0]

's'

In [114]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [115]:
nested_tup[0]

(4, 5, 6)

In [116]:
nested_tup[1]

(7, 8)

In [117]:
tup = tuple(['foo', [1, 2], True])

In [118]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [119]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [120]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [121]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [122]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [123]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [124]:
a, b = 1, 2
a, b

(1, 2)

In [125]:
b, a = a, b
a, b

(2, 1)

In [126]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [127]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b, rest

(1, 2, [3, 4, 5])

In [128]:
a, b, *_ = values   # *_

In [129]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [130]:
a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [131]:
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [132]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [133]:
gen = range(10)
gen, list(gen)

(range(0, 10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [134]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [135]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [136]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [137]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [138]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [139]:
"dwarf" in b_list

True

In [140]:
"dwarf" not in b_list

False

In [141]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [142]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [143]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [144]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [145]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [146]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [147]:
seq[:5], seq[3:]

([7, 2, 3, 6, 3], [6, 3, 6, 0, 1])

In [148]:
seq[-4:], seq[-6:-2]

([3, 6, 0, 1], [3, 6, 3, 6])

In [149]:
seq[::2]

[7, 3, 3, 0]

In [150]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

In [151]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [152]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [153]:
d1["b"]

[1, 2, 3, 4]

In [154]:
"b" in d1

True

In [155]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [156]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [157]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [158]:
ret = d1.pop("dummy")
ret, d1

('another value', {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'})

In [159]:
list(d1.keys()), list(d1.values())

(['a', 'b', 7], ['some value', [1, 2, 3, 4], 'an integer'])

In [160]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [161]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [162]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [163]:
list(tuples)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [164]:
mapping = dict(tuples)
mapping

{}

In [165]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [166]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [167]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [168]:
hash("string")

-6298531128451983453

In [169]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [170]:
hash((1, 2, [2, 3])) # fails because lists are mutable

TypeError: unhashable type: 'list'

In [171]:
d = {}
d[tuple([1, 2, 3])] = 5  # dict key can be tuple
d

{(1, 2, 3): 5}

In [172]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [173]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [391]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [392]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [393]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [394]:
a.intersection(b)

{3, 4, 5}

In [395]:
a & b

{3, 4, 5}

In [396]:
c = a.copy()
c |= b  # c.update(b)
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [397]:
c.update(b)

In [398]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [399]:
d = a.copy()
d &= b  # d.intersection_update(b)
d

{3, 4, 5}

In [400]:
d.intersection_update(b)
d

{3, 4, 5}

In [401]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [402]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set), a_set.issuperset({1, 2, 3})

(True, True)

In [403]:
{1, 2, 3} == {3, 2, 1}

True

In [404]:
sorted([7, 1, 2, 6, 0, 3, 2]), sorted("horse race")

([0, 1, 2, 2, 3, 6, 7], [' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's'])

In [448]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [449]:
seq3 = [False, True, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True), ('baz', 'three', True)]

In [450]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [451]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [452]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [453]:
unique_lengths = {len(x) for x in strings}  # set comprehension, equivalent to set(map(len, strings))
unique_lengths

{1, 2, 3, 4, 6}

In [454]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [455]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [456]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [457]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [458]:
result = [name for names in all_data for name in names if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [459]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [460]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [461]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [491]:
def my_function(x, y):
    return x + y

In [492]:
my_function(1, 2)

3

In [493]:
result = my_function(1, 2)
result

3

In [494]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [495]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [496]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

In [521]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [522]:
func()

In [523]:
a

[0, 1, 2, 3, 4]

In [524]:
func()

In [525]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [526]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [527]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [528]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [529]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [530]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [531]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [532]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [533]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [534]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [535]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [536]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [537]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [538]:
dict_iterator = iter(some_dict)
dict_iterator

In [539]:
list(dict_iterator)

['a', 'b', 'c']

In [540]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [541]:
gen = squares()
gen

In [542]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [543]:
gen = (x ** 2 for x in range(100))
gen

In [544]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [545]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [546]:
float("1.2345")

1.2345

In [547]:
float("something")

ValueError: could not convert string to float: 'something'

In [548]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [549]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [550]:
float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [551]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [552]:
attempt_float((1, 2))

TypeError: float() argument must be a string or a number, not 'tuple'

In [553]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [554]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [555]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Suea el rico en su riqueza,',
 'que ms cuidados le ofrece;',
 '',
 'suea el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'suea el que a medrar empieza,',
 'suea el que afana y pretende,',
 'suea el que agravia y ofende,',
 '',
 'y en el mundo, en conclusin,',
 'todos suean lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [556]:
f.close()

In [557]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [558]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [559]:
f1.tell()
f2.tell()

10

In [560]:
import sys
sys.getdefaultencoding()

'utf-8'

In [561]:
f1.seek(3)
f1.read(1)
f1.tell()

5

In [562]:
f1.close()
f2.close()

In [563]:
path

'examples/segismundo.txt'

In [564]:
with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Suea el rico en su riqueza,\n',
 'que ms cuidados le ofrece;\n',
 'suea el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'suea el que a medrar empieza,\n',
 'suea el que afana y pretende,\n',
 'suea el que agravia y ofende,\n',
 'y en el mundo, en conclusin,\n',
 'todos suean lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [565]:
import os
os.remove("tmp.txt")

In [566]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [567]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [568]:
data.decode("utf-8")
data[:4].decode("utf-8")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc3 in position 3: unexpected end of data

In [569]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Suea el r

In [570]:
os.remove(sink_path)

In [571]:
f = open(path, encoding='utf-8')
f.read(5)

'Suea'

In [572]:
f.seek(4)

4

In [573]:
f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [574]:
f.close()