### A Tuple is ... 
- a data structure that is an immutable, or unchangeable, ordered sequence of elements. Because tuples are immutable, their values cannot be modified. 
- Tuples are used to store multiple items in a single variable.

In [1]:
tup = (4, 5, 6)
tup

(4, 5, 6)

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [3]:
tuple([4, 0, 2])

(4, 0, 2)

In [4]:
tup = tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0]

's'

In [6]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [7]:
nested_tup[0]

(4, 5, 6)

In [8]:
nested_tup[1]

(7, 8)

In [9]:
tup = tuple(['foo', [1, 2], True])

In [11]:
# tup[2] = False

In [12]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [13]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [14]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [15]:
tup = (4, 5, 6)
a, b, c = tup
b

5

In [16]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [17]:
a, b = 1, 2
a, b

(1, 2)

In [18]:
b, a = a, b
a, b

(2, 1)

In [19]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b, rest

(1, 2, [3, 4, 5])

In [21]:
a, b, *_ = values   # *_

In [22]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### A List is ...
- a data structure that is a mutable, or changeable, ordered sequence of elements.
- Lists are used to store multiple items in a single variable.

In [23]:
a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [24]:
tup = ("foo", "bar", "baz")
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [25]:
b_list[1] = "peekaboo"
b_list

['foo', 'peekaboo', 'baz']

In [26]:
gen = range(10)
gen, list(gen)

(range(0, 10), [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [27]:
b_list.append("dwarf")
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [28]:
b_list.insert(1, "red")
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [29]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

In [30]:
b_list.append("foo")
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [31]:
b_list.remove("foo")
b_list

['red', 'baz', 'dwarf', 'foo']

In [32]:
"dwarf" in b_list

True

In [33]:
"dwarf" not in b_list

False

In [34]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [35]:
x = [4, None, "foo"]
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [36]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [37]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

In [38]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [39]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [40]:
seq[:5], seq[3:]

([7, 2, 3, 6, 3], [6, 3, 6, 0, 1])

In [41]:
seq[-4:], seq[-6:-2]

([3, 6, 0, 1], [3, 6, 3, 6])

In [42]:
seq[::2]

[7, 3, 3, 0]

In [43]:
seq[::-1]

[1, 0, 6, 3, 6, 3, 2, 7]

### A Dictionary is ...
- a data structure that is a collection of key-value pairs. Each key-value pair maps the key to its associated value.
- Dictionaries are used to store data values in key:value pairs.

In [44]:
empty_dict = {}
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [45]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [46]:
d1["b"]

[1, 2, 3, 4]

In [47]:
"b" in d1

True

In [48]:
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [49]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [50]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [51]:
ret = d1.pop("dummy")
ret, d1

('another value', {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'})

In [52]:
list(d1.keys()), list(d1.values())

(['a', 'b', 7], ['some value', [1, 2, 3, 4], 'an integer'])

In [53]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [54]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [55]:
tuples = zip(range(5), reversed(range(5)))
tuples

In [56]:
list(tuples)

[(0, 4), (1, 3), (2, 2), (3, 1), (4, 0)]

In [57]:
mapping = dict(tuples)
mapping

{}

In [131]:
words = ["apple", "bat", "bar", "atom", "book"]
by_letter = {}

for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [132]:
type(by_letter)

dict

In [133]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [134]:
type(by_letter)

dict

In [135]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [136]:
type(by_letter)

collections.defaultdict

In [137]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [138]:
hash("string")

6183706759729406907

In [139]:
hash((1, 2, (2, 3)))

-9209053662355515447

In [140]:
# hash((1, 2, [2, 3])) # fails because lists are mutable

In [141]:
d = {}
d[tuple([1, 2, 3])] = 5  # dict key can be tuple
d

{(1, 2, 3): 5}

### A Set is ...
- a data structure that is an unordered collection of unique elements.
- Sets are used to store multiple items in a single variable.

In [142]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [143]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [144]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [145]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [146]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [147]:
a.intersection(b)

{3, 4, 5}

In [148]:
a & b

{3, 4, 5}

In [149]:
c = a.copy()
c |= b  # c.update(b)
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [150]:
c.update(b)

In [151]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [152]:
d = a.copy()
d &= b  # d.intersection_update(b)
d

{3, 4, 5}

In [153]:
d.intersection_update(b)
d

{3, 4, 5}

In [154]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [155]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set), a_set.issuperset({1, 2, 3})

(True, True)

In [156]:
{1, 2, 3} == {3, 2, 1}

True

### A Built-In Sequence Functions ...
- enumerate() - returns an enumerate object. It contains the index and value of all the items in the list as pairs.
- sorted() - returns a new sorted list from the elements of any iterable.
- zip() - returns an iterator of tuples, where the i-th tuple contains the i-th element from each of the argument sequences or iterables.
- reversed() - returns a reverse iterator.

In [157]:
sorted([7, 1, 2, 6, 0, 3, 2]), sorted("horse race")

([0, 1, 2, 2, 3, 6, 7], [' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's'])

In [158]:
seq1 = ["foo", "bar", "baz"]
seq2 = ["one", "two", "three"]
zipped = zip(seq1, seq2)
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [159]:
seq3 = [False, True, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True), ('baz', 'three', True)]

In [160]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: foo, one
1: bar, two
2: baz, three

In [161]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List, Set, and Dictionary Comprehensions ...

In [162]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [163]:
unique_lengths = {len(x) for x in strings}  # set comprehension, equivalent to set(map(len, strings))
unique_lengths

{1, 2, 3, 4, 6}

In [164]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [165]:
loc_mapping = {value: index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [166]:
all_data = [["John", "Emily", "Michael", "Mary", "Steven"], ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [167]:
names_of_interest = []
for names in all_data:
    enough_as = [name for name in names if name.count("a") >= 2]
    names_of_interest.extend(enough_as)
names_of_interest

['Maria', 'Natalia']

In [168]:
result = [name for names in all_data for name in names if name.count("a") >= 2]
result

['Maria', 'Natalia']

In [169]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [170]:
flattened = []

for tup in some_tuples:
    for x in tup:
        flattened.append(x)

In [171]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### Functions ...

In [172]:
def my_function(x, y):
    return x + y

In [173]:
my_function(1, 2)

3

In [174]:
result = my_function(1, 2)
result

3

In [175]:
def function_without_return(x):
    print(x)

result = function_without_return("hello!")
print(result)

hello!
None

In [176]:
def my_function2(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [177]:
my_function2(5, 6, z=0.7)
my_function2(3.14, 7, 3.5)
my_function2(10, 20)

45.0

### Namespaces, Scope, and Local Functions ...
- A namespace is a mapping from names to objects. Most namespaces are currently implemented as Python dictionaries.
- A scope is a textual region of a Python program where a namespace is directly accessible. “Directly accessible” here means that an unqualified reference to a name attempts to find the name in the namespace.
- A local function is a function that is defined inside another function. Local functions are not defined until the parent function is called.

In [178]:
a = []
def func():
    for i in range(5):
        a.append(i)

In [179]:
func()

In [180]:
a

[0, 1, 2, 3, 4]

In [181]:
func()

In [182]:
a

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [183]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

[]

In [184]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [185]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [186]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [187]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [188]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [189]:
for x in map(remove_punctuation, states):
    print(x)

   Alabama
Georgia
Georgia
georgia
FlOrIda
south   carolina
West virginia

In [190]:
def short_function(x):
    return x * 2

equiv_anon = lambda x: x * 2

In [191]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

[8, 0, 2, 10, 12]

In [192]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

In [193]:
strings.sort(key=lambda x: len(set(x)))
strings

['aaaa', 'foo', 'abab', 'bar', 'card']

In [194]:
some_dict = {"a": 1, "b": 2, "c": 3}
for key in some_dict:
    print(key)

a
b
c

In [195]:
dict_iterator = iter(some_dict)
dict_iterator

In [196]:
list(dict_iterator)

['a', 'b', 'c']

In [197]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [198]:
gen = squares()
gen

In [199]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [200]:
gen = (x ** 2 for x in range(100))
gen

In [201]:
sum(x ** 2 for x in range(100))
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [202]:
import itertools
def first_letter(x):
    return x[0]

names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

In [203]:
float("1.2345")

1.2345

### Errors and Exception Handling ...
- Errors are the problems in a program due to which the program will stop the execution.
- Exceptions are raised when the program is syntactically correct, but the code resulted in an error.
- Handling exceptions is a way to deal with the errors in a program.

In [205]:
# float("something")

In [206]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [207]:
attempt_float("1.2345")
attempt_float("something")

'something'

In [209]:
# float((1, 2))

In [210]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [212]:
# attempt_float((1, 2))

In [213]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [214]:
path = "examples/segismundo.txt"
f = open(path, encoding="utf-8")

In [215]:
lines = [x.rstrip() for x in open(path, encoding="utf-8")]
lines

['Sueña el rico en su riqueza,',
 'que más cuidados le ofrece;',
 '',
 'sueña el pobre que padece',
 'su miseria y su pobreza;',
 '',
 'sueña el que a medrar empieza,',
 'sueña el que afana y pretende,',
 'sueña el que agravia y ofende,',
 '',
 'y en el mundo, en conclusión,',
 'todos sueñan lo que son,',
 'aunque ninguno lo entiende.',
 '']

In [216]:
f.close()

In [217]:
with open(path, encoding="utf-8") as f:
    lines = [x.rstrip() for x in f]

In [218]:
f1 = open(path)
f1.read(10)
f2 = open(path, mode="rb")  # Binary mode
f2.read(10)

b'Sue\xc3\xb1a el '

In [219]:
f1.tell()
f2.tell()

10

In [220]:
import sys
sys.getdefaultencoding()

'utf-8'

In [221]:
f1.seek(3)
f1.read(1)
f1.tell()

5

In [222]:
f1.close()
f2.close()

In [223]:
path

'examples/segismundo.txt'

In [224]:
with open("tmp.txt", mode="w") as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)

with open("tmp.txt") as f:
    lines = f.readlines()

lines

['Sueña el rico en su riqueza,\n',
 'que más cuidados le ofrece;\n',
 'sueña el pobre que padece\n',
 'su miseria y su pobreza;\n',
 'sueña el que a medrar empieza,\n',
 'sueña el que afana y pretende,\n',
 'sueña el que agravia y ofende,\n',
 'y en el mundo, en conclusión,\n',
 'todos sueñan lo que son,\n',
 'aunque ninguno lo entiende.\n']

In [225]:
import os
os.remove("tmp.txt")

In [226]:
with open(path) as f:
    chars = f.read(10)

chars
len(chars)

10

In [227]:
with open(path, mode="rb") as f:
    data = f.read(10)

data

b'Sue\xc3\xb1a el '

In [229]:
data.decode("utf-8")

'Sueña el '

In [231]:
# data[:4].decode("utf-8")

In [232]:
sink_path = "sink.txt"
with open(path) as source:
    with open(sink_path, "x", encoding="iso-8859-1") as sink:
        sink.write(source.read())

with open(sink_path, encoding="iso-8859-1") as f:
    print(f.read(10))

Sueña el r

In [233]:
os.remove(sink_path)

In [234]:
f = open(path, encoding='utf-8')
f.read(5)

'Sueña'

In [235]:
f.seek(4)

4

In [236]:
# f.read(1)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb1 in position 0: invalid start byte

In [237]:
f.close()